<div class="blue-screen">
<div class="masquebleu">
	<header>
	    <ul>
	        <li><a href="">I am an Applicant</a></li>
	        <li><a href="">API & Docs</a></li>
	        <li><a href="">About us</a></li>
	        <li><a href="">Carreers</a></li>
	    </ul>
	</header>

	<nav>
	    <ul>
	        <li><a href=""><%= image_tag "Checkr-logo-white.png" %></a></li>
	        <li> <a href="">Product</a>
	        <li><a href="">Industries</a></li>
	        <li><a href="">Resources</a></li>
	        <li><a href="">Pricing</a></li>
            <li class="spacer"></li>
	        <li><a href="">LOG IN</a></li>
	        <li><a href="" class="buttongetstarted">GET STARTED</a></li>
	    </ul>
	</nav>

    <div class="centerheader">
	<div class="left-content">
	    <h1>HIRE GREAT PEOPLE. FASTER.</h1>
	    <p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>
	    <p><a href="" class="buttonexplorenow">EXPLORE NOW</a></p>
	</div>

	    <video class="right-content">
	        <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.mp4" type="video/mp4">
	        <source src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero.webm" type="video/webm">
	        <img src="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png" width="606" height="634">
	    </video>
	</div>
    </div>
</div>
</div>




<section class="sponsors">
    <h3></h3>
    <div class="logo-partners">
        <img>
        <img>
        <img>
        <img>
        <img>
        <img>
    </div>
</section>
<section class="5_values">
    <h3></h3>
    <div class="first-value">
        <p><img></p>
        <p><strong></strong></p>
        <p></p>
    </div>
    <div class="second-value">
        <p><img></p>
        <p><strong></strong></p>
        <p></p>
    </div>
    <div class="third-value">
        <p><img></p>
        <p><strong></strong></p>
        <p></p>
    </div>
    <div class="fourth-value">
        <p><img></p>
        <p><strong></strong></p>
        <p></p>
    </div>
    <div class="fifth-value">
        <p><img></p>
        <p><strong></strong></p>
        <p></p>
    </div>
</section>
<section class="industry-needs">
    <h3></h3>
    <div class="boxes">
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <span class="h6">
                    <i>ICON</i>
                </span>
            </div>
            <div class="content-hoover">
                <span>
                </span>
            </div>
            <img>
        </a>
        <a href="">
            <div class="content">
                <i>ICON AWESOME</i>
                <p></p>
                <hr>
                <p class="h6">
                    <i> ICON</i>
                </p>
            </div>
        </a>
    </div>
</section>
<section class="legal">
    <h3></h3>
    <div class="boxes-legal">
        <div class="screenings">
            <i> ICON AWESOME</i>
            <p></p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a href="">
                ::after
            </a>
        </div>
        <div class="compliance">
            <i> ICON AWESOME</i>
            <p></p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a href="">
                ::after
            </a>
        </div>
        <div class="security">
            <i> ICON AWESOME</i>
            <p></p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <a href="">
                ::after
            </a>
        </div>
    </div>
</section>
<section class="home-information">
    <h3></h3>
    <div class="content-home-information">
        <div class="left-content-home-information">
        <p><strong></strong></p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <p><a href=""> 
            ::after
            </a>
        </p>
        </div>
        <div class="right-content-home-information">
            <p></p>
            <div class="testimonials">
                
            </div>
        </div>
    </div>
</section>
